body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

#titel {
    color: #515076;
}
.products {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    color: #515076;
}
.main-text {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.button {
    background-color: #515076;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}

.button-green {
    background-color: #00FF00;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}

.button-red {
    background-color: #FF0000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}

.button-grey {
    background-color: #808080;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}
.button-purple {
    background-color: #800080;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
}