@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
}

#titel {
   font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 110px;
    text-align: center;
    color: #515076;
}
.products-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    width:1110px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
    color: #515076;

}
.tag {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;
}
.product-card{
    background-color:#F7F7FA;
    width: 340px;
    padding: 25px;

}
.main-text {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}
.product-price {
    margin-top: 25px;
}

.price {
font-size: 20px;
display: inline-block;
color: #515076
}
.sum {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    margin-left: 150px;
    color: #515076
}
